<template>
  <div class="d-flex flex-column h-100 w-100 align-items-center">
    <div class="d-flex flex-column h-100 w-100" id="content">
        <section id="Intro" class="d-flex flex-column">
          <b-container fluid class="d-flex flex-column w-100 justify-content-center sectionContent">
            <b-row>
                <h1 data-aos="fade-up" data-aos-delay="0">Hi, my name is</h1>
            </b-row>
            <b-row>
                <h2 data-aos="fade-up" data-aos-delay="100">Tom Cannon</h2>
            </b-row>
            <b-row>
              <h3 data-aos="fade-up" data-aos-delay="200">I Create Things.</h3>
            </b-row>
            <b-row>
              <p data-aos="fade-up" data-aos-delay="300" id="shpeel">I'm a software engineer currently working in Chester who specializes in 
                creating bespoke software solutions for whatever problems are currently being thrown at me.</p>
            </b-row>
            <b-row>
              <a data-aos="fade-up" data-aos-delay="350" id="contactButton" href="mailto:tomwcannon@gmail.com">Get In Touch</a>
            </b-row>
          </b-container>
        </section>
        <section id="AboutMe">
          <b-container class="d-flex flex-column h-100 w-100 justify-content-center sectionContent" id="test">
            <b-row>
              <div data-aos="fade-up" data-aos-delay="0" id="sectionHeading"><span id="sectionHeadingText">About Me</span></div>
            </b-row>
            <b-row>
              <b-col id="aboutMeContent" cols="12" lg="12">
                <div data-aos="fade-up" data-aos-delay="0">
                  Hi, I'm <span id="highlight">Tom Cannon.</span> 
                  I'm a software engineer from the UK based in Liverpool but currently working in Chester.
                </div> 
                <div data-aos="fade-up" data-aos-delay="50">
                  I've always been interested in computers, which is why I chose to persue a degree in <span id="highlight">Computer Games Development</span> 
                  from the <span id="highlight">University of Central Lancashire.</span>
                </div>
                <div data-aos="fade-up" data-aos-delay="100">
                  In my own time when not programming, I can usually be found indulging in many genres of <span id="highlight">music</span>, playing my <span id="highlight">piano</span>, 
                  or playing <span id="highlight">competitive video games</span> through either <span id="highlight">speedrunning</span> or more conventional means.
                </div>
                <div data-aos="fade-up" data-aos-delay="150">
                  After graduating I began work at <span id="highlight">Cadscan</span>, a research and development company, as a software engineer with the goal of creating exciting products to solve 
                  difficult issues using the technologies listed below.
                </div>
                <ul id="techList">
                  <li data-aos="slide-up" data-aos-anchor="#techList" data-aos-delay="0" class="techListItem">C++</li>
                  <li data-aos="slide-up" data-aos-anchor="#techList" data-aos-delay="0" class="techListItem">C#</li>
                  <li data-aos="slide-up" data-aos-anchor="#techList" data-aos-delay="0" class="techListItem">Python</li>
                  <li data-aos="slide-up" data-aos-anchor="#techList" data-aos-delay="0" class="techListItem">Javascript</li>
                  <li data-aos="slide-up" data-aos-anchor="#techList" data-aos-delay="0" class="techListItem">QT</li>
                  <li data-aos="slide-up" data-aos-anchor="#techList" data-aos-delay="0" class="techListItem">Vue</li>
                </ul>
              </b-col>
            </b-row>
          </b-container>
        </section>
        <section id="experience">
           <b-container class="d-flex flex-column h-100 w-100 justify-content-center align-items-center sectionContent">
            <b-row class="centerRow">
              <div data-aos="fade-top" id="sectionHeading"><span id="sectionHeadingText">Experience</span></div>
            </b-row>
            <b-row data-aos="fade-bottom" data-aos-delay="50" class="justify-content-center">
              <b-col cols="12" lg="6" class="align-self-center text-center" id="experienceContent">
                Interested in seeing what I've been up to? Please look to the link below to see my full CV and my current skills.
              </b-col> 
            </b-row>
            <b-row class="justify-content-center">
              <b-col class="align-self-center">
                <a data-aos="fade-up" data-aos-delay="50" id="cvButton" class="text-center" href="/TCannonResume.docx" download>.docx</a>
                <a data-aos="fade-up" data-aos-delay="50" id="cvButton" class="text-center" href="/TCannonResume.pdf" download>.pdf</a>
              </b-col> 
            </b-row>
           </b-container>
        </section>
        <section id="projects">
          <b-container class="d-flex flex-column h-100 w-100 justify-content-center sectionContent">
            <b-row>
              <div data-aos="fade-top" id="sectionHeading"><span id="sectionHeadingText">Things I'm Working On</span></div>
            </b-row>
            <b-row id="projectContent">
                <b-row  id="fProject">
                  <b-col class="f1" data-aos="fade-up" cols="12" lg="6" id="projectTexts">
                      <div id="projectTextPreHeading">
                        Completed Project
                      </div>
                      <div id="projectTextHeading">
                        V-Tek Engine
                      </div>
                      <div id="projectTextSubHeading">
                        DirectX 11 Engine
                      </div>
                      <p id="projectTextContent">
                        The V-Tek Engine is a DirectX 11 engine created from scratch by myself as the deliverable of my third year project. This project created to showcase different 
                        graphical techniques that can be used within computer games to enhance the users experience, it features realistic water with reflections, a day night cycle, heightmap 
                        generated maps with procedural texturing, quad-tree rendering, and post processing effects for underwater camera.
                      </p>
                      <ul id="projectTextTech">
                        <li>
                          DirectX 11
                        </li>
                        <li>
                          HLSL
                        </li>
                        <li>
                          C++
                        </li>
                      </ul>
                  </b-col>
                  <b-col data-aos="fade-up" data-aos-anchor=".f1" cols="12" lg="6">
                    <a id="projectImg"><img class="img-fluid" src="@/assets/VTek.jpg"/></a>
                  </b-col>
                </b-row >
                <b-row  id="fProject">
                  <b-col class="f2" data-aos="fade-up" cols="12" lg="6" id="projectTexts">
                      <div id="projectTextPreHeading">
                        Work In Progress
                      </div>
                      <div id="projectTextHeading">
                        ReDiscovr
                      </div>
                      <div id="projectTextSubHeading">
                        VueJS Website
                      </div>
                      <p id="projectTextContent">
                        Rediscovr is an ongoing project written using Vue and Typescript. This website was created with the purpose of using AWS services and the Spotify API to build 
                        a website that users can easily view their weekly playlists and back them up for viewing at a later date after Spotify has regenerated them. 
                        The site makes use of Amazon Lambda and API Gateway to create a seamless serverless application and although it has yet to be completed has provided 
                        me with much experience using these services.
                      </p>
                      <ul id="projectTextTech">
                        <li>
                          VueJS
                        </li>
                        <li>
                          Javascript
                        </li>
                        <li>
                          AWS Services
                        </li>
                        <li>
                          Spofity API
                        </li>
                      </ul>
                  </b-col>
                  <b-col data-aos="fade-up" data-aos-anchor=".f2" cols="12" lg="6">
                    <a id="projectImg"><img class="img-fluid" src="@/assets/Rediscovr.jpg"/></a>
                  </b-col>
                </b-row >
                <b-row  id="fProject">
                  <b-col class="f3" data-aos="fade-up" cols="12" lg="6" id="projectTexts">
                      <div id="projectTextPreHeading">
                        Work In Progress
                      </div>
                      <div id="projectTextHeading">
                        Scrum Daily
                      </div>
                      <div id="projectTextSubHeading">
                        Alexa Skill
                      </div>
                      <p id="projectTextContent">
                        The Scrum Daily skill for Alexa devices was a project that I started in my spare time after work. It's intended purpose is too listen for the phrase "Begin Scrum Daily" 
                        and select one of the team members to start that daily scrum meeting. After a day or so of tinkering with the Alexa SDK a development skill was created using Node.JS running using AWS Lambda
                        and dynamoDB from AWS too. The skill was used daily since creation and is still being used to this day within the team.
                      </p>
                      <ul id="projectTextTech">
                        <li>
                          Node.JS
                        </li>
                        <li>
                          Javascript
                        </li>
                        <li>
                          AWS Services
                        </li>
                        <li>
                          Alexa Dev SDK
                        </li>
                      </ul>
                  </b-col>
                  <b-col data-aos="fade-up" data-aos-anchor=".f3" cols="12" lg="6">
                    <a id="projectImg"><img class="img-fluid" src="@/assets/ScrumDaily.jpg"/></a>
                  </b-col>
                </b-row >
            </b-row>
          </b-container>
        </section>
        <section id="Contact">
          <b-container class="d-flex flex-column h-100 w-100 justify-content-center align-items-center sectionContent">
            <b-row class="centerRow">
              <div data-aos="fade-top" id="sectionHeading"><span id="sectionHeadingText">Get In Touch</span></div>
            </b-row>
            <b-row data-aos="fade" data-aos-delay="50" class="justify-content-center"> 
              <b-col cols="12" lg="6" class="align-self-center text-center" id="contactContent">
                Want to get in touch? Feel free to contact me about new experiences and opportunites using the button below and I'll be sure to get back to you when I can.             
              </b-col>
            </b-row>
            <b-row data-aos="fade-bottom" data-aos-delay="100">
              <a id="contactButton" href="mailto:tomwcannon@gmail.com">Get In Touch</a>
            </b-row>
          </b-container>
        </section>
    </div>
    <Contacts></Contacts>
    <NavBar></NavBar>
  </div>
</template>

<script>
import Contacts from '../components/Contacts'
import NavBar from '../components/Navbar'
import AOS from 'aos';
import 'aos/dist/aos.css';

export default {
  name: 'Home',
  components: {
    Contacts,
    NavBar
  },
  mounted: function(){
    AOS.init({once: true});
  }
}
</script>

<style scoped>

#content{
  background: rgb(15, 15, 15);
  padding-right: 20%;
  padding-left: 20%;
  counter-reset: section;
}

section {
  padding: 15% 0;
}

section:first-child {
  margin-top: 50px;
  padding-top: 25%;
}

section:last-child {
  padding-bottom: 30%;
}

.sectionContent{
  transition: all 0.5s;
}

h1 
{
  color: #6600cc;
  font-family: SF Mono;
  font-size: 1.4em;
}

h2{
  font-size: 5em;
  font-family: RobotoBold;
  font-weight:900;
  color: #ddd;
  margin-bottom: -15px;
}

h3{
  font-size: 5em;
  font-family: RobotoBold;
  font-weight:900;
  color:rgb(100, 100, 100);
  padding-bottom: 25px;
}

#shpeel{
  max-width: 500px;
  color:rgb(100, 100, 100);
  font-size: 1.2em;
  font-family: Roboto;
  padding-bottom: 25px;
}

#sectionHeading::before{
  counter-increment: section;
  content: "0" counter(section) ".";
  color: #6600cc;
  font-family: SF Mono;
  font-size: 25px;
  padding-right: 10px;
  align-self:flex-end;
}

#sectionHeading{
  position: relative;
  display: flex;
  font-family: RobotoBold;
  color: #ddd;
  font-size: 30px;
  padding: 40px 0 40px;
  word-wrap: none;
}

#sectionHeadingText{
  position: relative;
  white-space: nowrap;
  top: 2px;
}

#sectionHeading::after{
  content: "";
  height: 1px;
  width: 300px;
  background-color: rgb(100, 100, 100);
  display:block;
  position: relative;
  margin-left: 20px;
  align-self:center;
  top: 3px;
  transition: 0.5s;
}

#aboutMeContent{
  color:rgb(100, 100, 100);
  font-size: 1.1em;
  font-family: Roboto;
  padding: 0 !important;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

#aboutMeContent div {
  padding-bottom: 20px;
}

#contactButton{
  background-color: transparent;
  color: #6600cc;
  text-decoration: none;
  font-family: SF Mono;
  border: 1px solid #6600cc;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s;
}

#contactButton:hover{
  color: #ddd;
  border: 1px solid #ddd;
}

#highlight{
  color: #6600cc;
}

#techList{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: outside none none;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  transition: ease 0.5s;
}

.techListItem::marker{
  color: #6600cc;
  padding-right:0.5em;
}

.techListItem::before{
  content: "▹";
  color: #6600cc;
  font-family: SF Mono;
  padding-right:0.5em;
}

#experienceContent{
  color:rgb(100, 100, 100);
  font-size: 1.1em;
  font-family: Roboto;
  padding-bottom: 30px;
}

#cvButton{
  display: inline-block;
  background-color: transparent;
  color: #6600cc;
  text-decoration: none;
  font-family: SF Mono;
  border: 1px solid #6600cc;
  min-width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
}

#cvButton:hover{
  color: #ddd;
  border: 1px solid #ddd;
}

#fProject{
  padding: 20px 0px;
  align-items: center;
}

#fProject:nth-child(2n+2) {
  flex-direction: row-reverse;
  text-align: right;
}

#projectTextPreHeading
{
  font-family: SF Mono;
  color: #6600cc;
  font-size: 0.9em;
}

#projectTextHeading
{
  font-family: RobotoBold;
  color: #ddd;
  font-size: 2em;
}

#projectTextSubHeading
{
  font-family: RobotoBold;
  color: rgb(100, 100, 100);
  font-size: 1.1em;
  padding-bottom: 0.8em;
}

#projectTextContent{
  font-family: Roboto;
  color: rgb(100, 100, 100);
}

#projectTextTech{
  padding: 0px;
}

#projectTextTech li{
  list-style: outside none none;
  display: inline-block;
  font-family: SF Mono;
  color: #6600cc;
  font-size: 0.8em;
  border: 1px solid #6600cc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#contactContent{
  color:rgb(100, 100, 100);
  font-size: 1.1em;
  font-family: Roboto;
  padding-bottom: 30px;
}

#projectImg{
  align-self: center;
}

@media (max-width: 62.5em){
  #sectionHeading::after{
    width: 200px;
  }

  #techList{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 48em){

  #content{
    padding-left: 5%;
    padding-right: 5%;
  }

  .centerRow{
    width: 100%;
  }

  #sectionHeading::after{
    width: 100%;
  }

  #sectionHeading::before{
    font-size: 15px;
  }

  #sectionHeading{
    width: 100%;
    font-size: 20px;
  }
}
</style>
