<template>
  <div class="text-center d-flex flex-column h-100 justify-content-center align-items-center">
    <div style="display:block;">
    <vue-particles
        color="#6600cc"
        :particleOpacity="0.7"
        :particlesNumber="90"
        shapeType="edge"
        :particleSize="4"
        linesColor="#dddddd"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="4"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="repulse"
      >
    </vue-particles>
    </div>

    <b-container id="landingContent">
      <b-row>
        <b-col >
          <h1 id="landingHeading">
            Tom Cannon
          </h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <h2 id="landingSubHeading">
            Software Engineer
          </h2>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="text-center d-flex flex-column justify-content-center align-items-center">
      <router-link tag="buttonLink" to="/home" id="enterButton">
            <div id="buttonText">ENTER</div>
      </router-link>
    </b-container>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  }
}
</script>

<style scoped>

  body{
    overflow: hidden !important;
  }

  #landingContent{
    z-index: 100;
    padding: 2em;
    border:  1px solid #6600cc;
    background: rgba(0,0,0,0.75);
    width: auto;
    margin: 20px;
  }

  #enterButton{
    margin-top: 1em;
    z-index: 100;
    width: 10em;
    height: 4em;
    border: 1px solid #6600cc;
    cursor: pointer;
    color: #ddd !important;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #buttonLink{
    text-decoration: none;
    color: #ddd;
  }

  #enterButton:hover{
    margin-top: 1em;
    z-index: 100;
    width: 10em;
    height: 4em;
    color: #6600cc  !important;
    border: 1px solid #ddd;
    background: rgba(5, 5, 5, 0.7);
  }

  #buttonText{
    font-family: SF Mono;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  #buttonText::selection {
    color: none;
    background: none;
  }

  #landingHeading{
    font-family: RobotoBlack;
    font-size: 6em;
    color: #dddddd;
  }

  #landingSubHeading{
    font-family: SF Mono;
    font-size: 2em;
    color: rgb(100,100,100);
    margin-top: -0.5em;
  }

  #particles-js{
    background: rgb(15, 15, 15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .particles-js-canvas-el{
    margin-bottom: -6px;
  }

  .particles-js-canvas-el { 
    display:block; 
  }

  @media (max-width: 48em){
    #landingHeading{
      font-size: 4em;
    }
  }

</style>
