<template>
  <div class="contacts d-flex w-100 flex-row">
    <div class="socials flex-column align-items-center d-flex">
      <ul class="socialsList">
        <li><a href="https://twitter.com/veasu_" target="_blank"><font-awesome-icon :icon="['fab', 'twitter']"/></a></li>
        <li><a href="https://gitlab.com/Veasu" target="_blank"><font-awesome-icon :icon="['fab', 'gitlab']"/></a></li>
        <li><a href="https://www.linkedin.com/in/tomcannon95/" target="_blank"><font-awesome-icon :icon="['fab', 'linkedin']"/></a></li>
      </ul>
    </div>

    <div class="email flex-column align-items-center d-flex">
      <a class="emailText" href="mailto:tomwcannon@gmail.com">tomwcannon@gmail.com</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contacts',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .socials{
    position: fixed;
    left: 40px;
    right: auto;
    width: 40px;
    bottom: 0;
    transition: 0.5s;
  }

  .email{
    position: fixed;
    right: 40px;
    left: auto;
    width: 40px;
    bottom: 0;
    transition: 0.5s;
  }

  .emailText{
    writing-mode: vertical-rl;
    text-decoration: none;
    color: #ddd;
    margin-bottom: 2em;
    font-size: 1em;
    transition: all 0.5s;
    font-family: Roboto;
    letter-spacing: 0.2em;
  }

  .emailText:hover{
    color: #6600cc;
    margin-bottom: 2.5em;
  }

  .email::after{
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: #6600cc;
  }

  .socialsList{
    list-style: outside none none;
    margin-bottom: 0 !important;
    padding: 0 !important;
    transition: all 0.5s;
  }

  li:last-of-type{
    margin-bottom: 0.8em;
  }

  li{
    cursor: pointer;
    font-size: 1.5em;
    transition: 0.5s;
    padding: 5px;
    position: relative;
    right: 0px;
  }

  li a{
    color: #ddd;
    transition: 0.5s;
    padding: 5px;
    position: relative;
    right: 0px;
    text-decoration: none;
  }

  li a:hover{
    color: #6600cc;
    right: 0.2em;
  }

  .socialsList::after{
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: #6600cc;
  }

  @media (max-width: 62.5em){
    .socials{
      left: -40px;
    }

    .email{
      right: -40px;
    }
}
</style>
