<template>
    <header class="w-100">
        <b-navbar :class="[hidden, navBarDocked]" class="w-100" toggleable="lg" type="dark">
            <b-navbar-brand id="navHeading" href="#" v-scroll-to="{
                    el: '#Intro',
                    }">Tom Cannon
            </b-navbar-brand>
            <ul id="navBarList">
                <li class="navBarListItem">
                    <a href="#" v-scroll-to="{
                    el: '#AboutMe',
                    }">About Me
                    </a>
                </li>
                <li class="navBarListItem">
                    <a href="#" v-scroll-to="{
                    el: '#experience',
                    offset: -150,
                    }">Experience
                    </a>
                </li>
                <li class="navBarListItem">
                    <a href="#" v-scroll-to="{
                    el: '#projects',
                    }">Projects
                    </a>
                </li>
                <li class="navBarListItem">
                    <a href="#" v-scroll-to="{
                    el: '#Contact',
                    offset: -150,
                    }">Contact Me
                    </a>
                </li>
            </ul>

            <div @click="toggleSidebar(false)" :class="sideHiddenButton" id="burgerButton">
                <font-awesome-icon :icon="currentIcon"></font-awesome-icon>
            </div>
        </b-navbar>

        <aside :class="sideHidden">
            <div id="sideNav">
                <ol id="sideBarList">
                    <li class="sideBarListItem">
                        <a href="#" @click="toggleSidebar(true)" v-scroll-to="{
                        el: '#AboutMe',
                        }">About Me
                        </a>
                    </li>
                    <li class="sideBarListItem">
                        <a href="#" @click="toggleSidebar(true)" v-scroll-to="{
                        el: '#experience',
                        offset: -150,
                        }">Experience
                        </a>
                    </li>
                    <li class="sideBarListItem">
                         <a href="#" @click="toggleSidebar(true)" v-scroll-to="{
                        el: '#projects',
                        }">Projects
                        </a>
                    </li>
                    <li class="sideBarListItem">
                        <a href="#" @click="toggleSidebar(true)" v-scroll-to="{
                        el: '#Contact',
                        offset: -150,
                        }">Contact Me
                        </a>
                    </li>
                </ol>
            </div>
        </aside>
    </header>
</template>

<script>
export default {
  name: 'NavBar',
  data() { 
      return{
        lastTop: 0,
        hidden: 'navBarVisible',
        navBarDocked: 'navBarDocked',
        sideHidden: 'sideHidden',
        sideHiddenButton: 'sideHiddenButton',
        currentIcon: ['fa', 'bars']
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.onScroll);
    window.addEventListener('resize', this.onResize);
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.onScroll);
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
      onScroll: function()
      {
        if(this.sideHidden == 'sideHidden')
        {
          let scrollTop = window.top.scrollY;
          if (this.lastTop < scrollTop)
          {
              this.hidden = 'navBarHidden'
              this.navBarDocked = 'navBarUndocked'
          }
          else 
          {
              if(scrollTop == 0)
              {
                  this.navBarDocked = 'navBarDocked'
                  this.hidden = 'navBarVisible'
              }
              else{
                  this.hidden = 'navBarVisible'
              }
          }
          this.lastTop = scrollTop;
        }
      },
      toggleSidebar: function(sideNavElement)
      {
          if(this.sideHidden == 'sideHidden' && !sideNavElement)
          {
              this.sideHidden = 'sideVisible'
              this.sideHiddenButton = 'sideVisibleButton'
              this.currentIcon = ['fa', 'times']
              document.body.classList.add('noScroll')
          }
          else{
              this.sideHidden = 'sideHidden'
              this.sideHiddenButton = 'sideHiddenButton'
              this.currentIcon = ['fa', 'bars']
              document.body.classList.remove('noScroll')
          }
      },
      onResize: function()
      {
          if (document.documentElement.clientWidth > 1000)
          {
              this.sideHidden = 'sideHidden'
              this.sideHiddenButton = 'sideHiddenButton'
              this.currentIcon = ['fa', 'bars']
              document.body.classList.remove('noScroll')
          }
      }
  },
  props: {
  }
}
</script>

<style scoped>
header{
    position: fixed;
}

#navHeading{
    font-family: RobotoBold;
    font-size: 30px;
    padding-left: 40px;
    text-decoration: none;
    color: #ddd;
    transition: ease 0.5s;
    outline: 0;
}

#navHeading:hover{
  color: #6600cc;
}

.navBarDocked{
  height: 100px;
  background: rgb(15,15,15);
  box-shadow: #000 0px 0px 0px 0px;
  transition: ease 0.5s;
}

.navBarUndocked{
  height: 70px;
  background: rgb(18,18,18);
  box-shadow: #6600cc 0px 10px 30px -10px;
  transition: ease 0.5s;
}

.navBarHidden{
    top: -100px;
}

.navBarVisible{
    top: 0px;
}

#navBarName{
  font-family: RobotoBold;
  font-size: 25px;
  padding-left: 30px;
}

#navBarList{
  list-style: outside none none;
  display: inline-block;
  counter-reset: item;
  margin: 0;  
  margin-left: auto;
  align-self: center;
}

.navBarListItem::before{
  counter-increment: item;
  content: "0" counter(item) ".";
  color: #6600cc;
  font-family: SF Mono;
  font-size: 15px;
  align-self:flex-end;
}

.navBarListItem{
  list-style: outside none none;
  display: inline-block;
  padding-right: 40px;
}

.navBarListItem a{
  text-decoration: none;
  color: #ddd;
  font-family: SF Mono;
  transition: ease 0.5s;
}

.navBarListItem a:hover{
  color: #6600cc;
}

#burgerButton{
    display: none;
    margin-left: auto;
    font-size: 25px;
    color: #6600cc;
    border: 1px solid #6600cc;
    padding: 5px 15px;
    font-weight: 900;
    cursor: pointer;
}

aside{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 300px;
    height: 100vh;
    background: rgb(22,22,22);
}

#sideNav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sideHidden{
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 10;
    width: 300px;
    height: 100vh;
    background: rgb(22,22,22);
    transition: ease 0.5s;
}

.sideVisible{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 300px;
    height: 100vh;
    background: rgb(22,22,22);
    transition: ease 0.5s;
}

.sideVisibleButton
{
    z-index: 100;
    transition: ease 0.5s;
}

.sideHiddenButton
{
    z-index: 0;
    transition: ease 1.5s;
}

.sideBarListItem::marker{
    color: #6600cc;
    font-size: 20px;
}

.sideBarListItem {
    padding: 20px 0px;
}

.sideBarListItem a{
    font-size: 25px;
    font-family: SF Mono;
    color: #ddd;
    transition: ease 0.5s;
    text-decoration: none;
}

.sideBarListItem a:hover{
    color: #6600cc;
}

@media (max-width: 62.5em){
    #navBarList{
        display: none;
    }

    #burgerButton{
        display: inline;
    }
}
</style>