<template>
  <div id="app">
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<style>
  html{
    height:100% !important;
    background: rgb(15, 15, 15) !important;
  }

  body{
    margin: 0;
    height:100% !important;
    background: rgb(15, 15, 15) !important;
  }

  #app{
    height:100% !important;
    background: rgb(15, 15, 15) !important;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to{
    opacity: 0;
    background-color: rgb(15, 15, 15);
  }

  .noScroll{
    overflow: hidden;
  }

@font-face {
  font-family: Roboto;
  src: url(assets/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBlack;
  src: url(assets/Roboto-Black.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(assets/Roboto-Bold.ttf);
}

@font-face {
  font-family: SF Mono;
  src: url(assets/SFMonoRegular.otf) format("opentype");; 
}
</style>
